Scrollbar styles
::-webkit-scrollbar-track {
  background-color: white; /* Light mode scrollbar background */
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #06ac06;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #32cd32;
  cursor: pointer;
}

/* Dark mode scrollbar styles */
body.dark ::-webkit-scrollbar-track {
  background-color: #333333; /* Dark mode scrollbar track */
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: #4caf50; /* Dark mode thumb color */
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #66bb6a; /* Hover effect in dark mode */
}

/* Custom scroll margin */
.scroll-margin-top {
  scroll-margin-top: 100px;
}

/* Animated border */
.animated-border-inner {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  color: rgb(0, 191, 0); /* Light mode border color */
  text-align: left;
}

/* Dark mode animated border */
body.dark .animated-border-inner {
  color: #00ff00; /* Light green text for dark mode */
}

/* Emoji button animation */
.emoji-button {
  transition: transform 0.2s ease-in-out;
}

.emoji-button:hover {
  transform: translateY(-5px);
}

/* Dark mode specific styles */
body.dark .emoji-button {
  color: #00ff00; /* Green emoji button color in dark mode */
}







